body {
    padding-top: 40px;
}

.form-signup, .form-signin {
    width: 400px;
    margin: 0 auto;
}

.text-center-register{
    text-align: center
    margin-left: auto;
    position: relative;
    top: 40%;
    left: 32.5%;
    width: 28.5em;
    height: 4em;
    margin-top: 0em; /*set to a negative number 1/2 of your height*/
    margin-left: -0em; /*set to a negative number 1/2 of your width*/
    border: 0px solid #ccc;
    background-color: #f4f4f4;
    padding: 10px 20px 10px 20px;
}

.text-center{
    text-align: center
    margin-left: auto;
    margin-right: auto;
    width: 78%
}

.btn-center{
    /*anyone needed*/
    width : 30%;
    margin : 0 auto;
    /*anyone needed
    display:block;
    margin:0 auto;
    position:relative;
    left: 35%;
    */
}




